@model Box

<div class="col-md-4 mb-4 m-3 bg-purple-custom">
    <div class="card scrollable-custom shadow-sm bg-dark">
        <div class="card-body">
            <h5 class="card-title text-light">@Model.Name</h5>
            <div class="mb-3">
                @foreach (var tag in Model.Tags)
                {
                    <span class="badge rounded-pill text-white" style="background: @tag.Hex;">@tag.Name</span>
                }
            </div>
            <div class="d-flex align-items-start">
                <div class="dropdown me-2">
                    <button class="btn btn-sm btn-outline-secondary" type="button" id="togglePartialViewButton" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="bi bi-plus"></i>
                    </button>
                    <div class="p-2 dropdown-menu dropdown-menu-end bg-dark text-light" aria-labelledby="togglePartialViewButton">
                        @await Html.PartialAsync("/Views/Cards/Create.cshtml", new CardDto() { BoxId = Model.Id })
                    </div>
                </div>
                <div class="dropdown">
                    <button class="btn btn-sm btn-outline-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="bi bi-three-dots"></i>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-end bg-dark" aria-labelledby="dropdownMenuButton">
                        <li>
                            <a asp-controller="Boxes" asp-action="Update" asp-route-id="@Model.Id" class="dropdown-item text-light bg-dark">Update Box <i class="bi bi-pencil"></i></a>
                        </li>
                        <li>
                            <form asp-controller="Boxes" asp-action="Delete" asp-route-id="@Model.Id" asp-route-boardId="@Model.BoardId" method="post" onsubmit="return confirm('Confirm?');">
                                @Html.AntiForgeryToken()
                                <button type="submit" class="dropdown-item text-danger bg-dark">Delete Box <i class="bi bi-trash"></i></button>
                            </form>
                        </li>
                    </ul>
                </div>
            </div>
            @foreach (var card in Model.Cards)
            {
                @await Html.PartialAsync("/Views/Cards/Details.cshtml", card)
            }
        </div>
    </div>
</div>
