@model BoxDto
@{
}

<form asp-controller="Boxes" asp-action="Update" method="post">
    @Html.AntiForgeryToken()
    <div class="card card-custom p-4 border-0 shadow-lg text-white mt-2 mw-100">
        <input type="hidden" asp-for="BoardId" />
        <div class="form-group">
            <label asp-for="Name" class="form-label">Box Name</label>
            <input asp-for="Name" class="form-control bg-dark text-white" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
    </div>
    <hr>
    <div class="card card-custom p-4 border-0 shadow-lg text-white mt-2 mw-100">
        <div class="row row-cols-1 row-cols-md-3 g-3">
            @foreach (var tag in Model.BoardTags)
            {
                <div class="col">
                    <div class="card bg-dark">
                        <div class="card-body">
                            <div class="form-check">
                                <input type="checkbox" name="SelectedTagsIds" class="form-check-input" id="tag@(tag.Id)" value="@(tag.Id)" @(Model.BoxTags.Contains(tag) ? "checked" : "")>
                                <label class="form-check-label" for="tag@(tag.Id)">@tag.Name</label>
                            </div>
                        </div>
                        <div class="card-footer" style="background: @tag.Hex;">
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
    <div class="card card-custom p-4 border-0 shadow-lg text-white mt-2">
        <button type="submit" class="btn btn-success">Apply Changes</button>
    </div>
</form>

<div class="card card-custom p-4 border-0 shadow-lg text-white mt-2 mw-100">
    <div class="row row-cols-1 row-cols-md-6 g-3">
        @foreach (var tag in Model.BoardTags)
        {
            @await Html.PartialAsync("/Views/Tags/Details.cshtml", tag)
        }
        <div class="container d-flex justify-content-center align-items-center">
            <div class="card card-custom p-4 border-0 shadow-lg text-white">
                <div class="dropdown me-2">
                    <button class="btn btn-sm btn-outline-secondary" type="button" id="togglePartialViewButton" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="bi bi-plus"></i>New Tag
                    </button>
                    <div class="p-2 dropdown-menu dropdown-menu-end bg-dark text-light" aria-labelledby="togglePartialViewButton">
                        @await Html.PartialAsync("/Views/Tags/Create.cshtml", new TagDto { BoardId = Model.BoardId })
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>