@model Board
@{
}

<div class="container">
    <div class="row">
        <h1 class="mt-2">@Model.Name</h1>
        <div class="box-container">
            @if (Model.Users.Count > 1)
            {
                <div class="col-md-4 mb-4 m-3 d-flex justify-content-center align-items-center">
                    <div>
                        <div class="card mb-4 shadow-sm bg-dark text-white">
                            <div class="card-body message-card message-container">
                                @foreach (var message in Model.Messages.Reverse())
                                {
                                    <div class="message">
                                        <p>@message.Content (Sent by @message.User.FirstName)</p>
                                        <p>@message.CreatedAt.ToLocalTime()</p>
                                    </div>
                                }
                            </div>
                            <div class="card-footer">
                                <form asp-controller="Messages" asp-action="SendMessage" method="post">
                                    @Html.AntiForgeryToken()
                                    <input type="hidden" name="BoardId" value="@Model.Id" />
                                    <div class="input-group">
                                        <input type="text" name="Content" class="form-control bg-dark text-white" required />
                                        <button type="submit" class="btn btn-secondary">Send Message</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            }
            @if (Model.Boxes.Count > 0)
            {
                @foreach (var box in Model.Boxes)
                {
                    @await Html.PartialAsync("/Views/Boxes/Details.cshtml", box)
                }
            }
            <div class="col-md-4 mb-4 m-3 h-200 d-flex justify-content-center align-items-center box-container-custom">
                <div class="dropdown me-2">
                    <button class="btn btn-sm btn-outline-secondary" type="button" id="togglePartialViewButton" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="bi bi-plus"></i>New Box
                    </button>
                    <div class="p-2 dropdown-menu dropdown-menu-end bg-dark text-light" aria-labelledby="togglePartialViewButton">
                        @await Html.PartialAsync("/Views/Boxes/Create.cshtml", new BoxDto() { BoardId = Model.Id })
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
