@model Board
@{
    ViewData["BoardId"] = Model.Id;
}

<h1>All Members for Board: @Model.Name</h1>

@if (Model.Users.Any())
{
    <ul>
        @foreach (var user in Model.Users)
        {
            if (Model.OwnerId == user.Id)
            {
                <li>@user.UserName (Owner)</li>
            }
            else
            {
                <div class="d-flex">
                    <li>@user.UserName</li>
                    <form asp-action="RemoveUserFromBoard" asp-route-id="@Model.Id" asp-route-userId="@user.Id" method="post">
                        @Html.AntiForgeryToken()
                        <button type="submit" class="btn btn-primary btn-sm">Remove Member</button>
                    </form>
                </div>
            }
        }
    </ul>
}
else
{
    <p>No members found for this board.</p>
}

<div class="dropdown me-2">
    <button class="btn btn-sm btn-outline-secondary" type="button" id="togglePartialViewButton" data-bs-toggle="dropdown" aria-expanded="false">
        <i class="bi bi-plus"></i>
    </button>
    <div class="p-2 dropdown-menu dropdown-menu-end bg-dark text-light" aria-labelledby="togglePartialViewButton">
        @await Html.PartialAsync("AddUserToBoard", ViewData)
    </div>
</div>
